<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/lux/bootstrap.min.css"> --}}
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/stylesheets/bulmaswatch.min.css" type="text/css" />
	<title>Project 2 Starter</title>
</head>

<body>
	{{{ body }}}
	<footer class="fixed-bottom">
		<h5 class="text-white">Copyright 2020 by YouShouldChangeThisBeforePresenting</h5>
	</footer>
</body>

</html>