<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" type="text/css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/stylesheets/bulmaswatch.min.css" type="text/css" />
	<title>Project 2 Starter</title>
</head>

<body>
	{{{ body }}}


	<footer class="footer">
		<div class="content has-text-centered">
			<p class="text-white">Copyright 2020 by YouShouldChangeThisBeforePresenting</p>
		</div>
	</footer>
</body>

</html>