<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.2/css/bulma.min.css" type="text/css">
	<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
	<link rel="stylesheet" href="/stylesheets/bulmaswatch.min.css" type="text/css" />
	<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
	<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
	<title>Cash Map</title>
</head>

<body>
	{{{ body }}}


	<footer class="footer" style="padding-top: 50px; margin: 20px">
		<div class="content has-text-centered">
			<p class="text-white"> Cash Map Copyright 2020 by Jeremy, Prab, Forace</p>
		</div>
	</footer>
</body>

</html>