{{> navbar user}}


<div class="container is-fluid">
    <div class="columns">
        <div class="column">
            <div class="title" style="text-align: center;">Coordinates</div>
            <p>
                Today's Date: {{createdAt}}
            </p>

            <div class="field">
                <div class="control">
                    <p>
                        Enter Amount:
                    </p>
                    <input id="amount" class="input is-info" type="text" placeholder="Amount">
                </div>
            </div>

            <!-- Category Drop down menu  -->

            <div id="category" class="dropdown is-hoverable ">
                <!-- add is-active class with jquery-->
                <div class="dropdown-trigger is-fluid">
                    <button id="drop-btn" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                        <span class="dropdown-text">Category</span>
                        <span class="icon is-small">
                            <i class="fas fa-angle-down" aria-hidden="true"></i>
                        </span>
                    </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu-max-width" role="menu">
                    <div id="option" class="dropdown-content">
                        <a class="dropdown-item" data-id="1">
                            Food
                        </a>
                        <a class="dropdown-item" data-id="2">
                            Bills
                        </a>
                        <a class="dropdown-item " data-id="3">
                            Rent
                        </a>
                        <a class="dropdown-item " data-id="4">
                            Income
                        </a>
                    </div>
                </div>


            </div>
            <!-- end category block -->


            <div class="field">
                <div class="control">
                    <p>
                        Enter Company Name:
                    </p>
                    <input id="company" class="input is-info" type="text" placeholder="Company">
                </div>
            </div>

            <div class="field">
                <div class="control">
                    <p>
                        Add a note:
                    </p>
                    <textarea id="note" class="textarea is-info" placeholder="Info textarea"></textarea>
                </div>
            </div>

            <div class="buttons">
                <button id="expense" class="button is-dark">Add Expense</button>
                <button id="income" class="button is-dark">Add Income</button>
            </div>

        </div>
        <div class="column">
            <div class="title" style="text-align: center;">Recent Transactions</div>
            <div id="recent" class="box">
                <table class="recent">
                    <tr>
                        <th>Amount</th>
                        <th>Company</th>
                        <th>notes</th>
                    </tr>

                    {{#each coordinates}}
                    <tr>
                        <td>${{this.amount}}</td>
                        <td>{{this.company}}</td>
                        <td>{{this.notes}}</td>

                    </tr>
                    {{/each}}


                </table>

            </div>



        </div>


    </div>
</div>

<!-- Coordinate page js -->
<script>
    $(document).ready(function () {
        const expense = $("#expense");
        const income = $("#income");
        const catBtn = $("#drop-btn");
        // input values
        const amount = $("#amount");
        let category = "";
        const company = $("#company");
        const note = $("#note");



        // category button function
        $(catBtn).on("click", function () {
            $("#category").toggleClass("is-active");
            // add code to display chosen value from drop down in chosen category
        })

        $("#option .dropdown-item").on("click", function () {
            category = $(this).data("id");

            if ($(this).data("id") == "1") {
                $(".dropdown-text").text("Food")
                income.attr("style", "display: none");
                expense.attr("style", "display: inline");
            }
            else if ($(this).data("id") == "2") {
                $(".dropdown-text").text("Bills")
                income.attr("style", "display: none");
                expense.attr("style", "display: inline");
            }
            else if ($(this).data("id") == "3") {
                $(".dropdown-text").text("Rent")
                income.attr("style", "display: none");
                expense.attr("style", "display: inline");
            }
            else if ($(this).data("id") == "4") {
                $(".dropdown-text").text("Income")
                expense.attr("style", "display: none");
                income.attr("style", "display: inline");
            }
        })

        // add code to display chosen value from drop down in chosen category



        // Add expense button

        $(expense).on("click", function () {
            event.preventDefault();
            console.log(amount.val(), category, company.val(), note.val())
            var coorData = {
                amount: -amount.val().trim(),
                category: category,
                company: company.val().trim(),
                note: note.val().trim()
            };
            console.log(coorData);

            //if (!coorData.title || !coorData.body) {
            //return;
            // }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(coorData.amount, coorData.category, coorData.company, coorData.note);
            amount.val("");

            company.val("");
            note.val("");
        });

        // If income button clicked

        $(income).on("click", function () {
            event.preventDefault();
            console.log(amount.val(), category, company.val(), note.val())
            var coorData = {
                amount: amount.val().trim(),
                category: category,
                company: company.val().trim(),
                note: note.val().trim()
            };
            console.log(coorData);

            //if (!coorData.title || !coorData.body) {
            //return;
            // }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(coorData.amount, coorData.category, coorData.company, coorData.note);
            amount.val("");

            company.val("");
            note.val("");
        });


        // sendPost does a post to our "api/coordinate" route and if successful, redirects us the the forum page
        function sendPost(amount, category, company, note) {
            $.post("/api/coordinates", {
                amount: amount,
                CategoryId: category,
                company: company,
                notes: note,
            })
                .then(function () {
                    window.location.replace("/dashboard");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });


        }


    });




</script>