{{> navbar user}}



<div class="container is-fluid">
    <div class="columns">
        <div class="column">
            <div class="title" style="text-align: center;">HomePage!</div>
            <h4 class="display-6">Hello, {{user.email}}!</h4>
            <br>
            <div class="box ">
                <p>
                    Current Balance:

                </p>
            </div>



            <div class="box">
                <p>
                    Spent Today:
                </p>
            </div>



            <div class="box">
                <p>
                    Earned Today:
                </p>
            </div>



            <div class="box">
                <p>
                    Difference:
                </p>
            </div>

            {{!-- <div class="tabs is-centered is-boxed">
                <ul>
                    <li class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fa fa-image"></i></span>
                            <span>THIS DAY</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-music"></i></span>
                            <span>THIS WEEK</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-film"></i></span>
                            <span>THIS MONTH</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fa fa-file-alt"></i></span>
                            <span>THIS QUARTER</span>
                        </a>
                    </li>
                </ul>
            </div>

            <nav class="level">
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">BALANCE</p>
                        <p class="title">1,000</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">INCOMING</p>
                        <p class="title" style="color: green;">+2,000</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">OUTGOING</p>
                        <p class="title" style="color: red;">-1,000</p>
                    </div>
                </div>
                <div class="level-item has-text-centered">
                    <div>
                        <p class="heading">DELTA</p>
                        <p class="title">+1,000</p>
                    </div>
                </div>
            </nav>

            <table class="table">
                <thead>
                    <tr>
                        <th>
                            <abbr title="date"> Date </abbr>
                        </th>
                        <th>
                            <abbr title="amount"> Amount </abbr>
                        </th>
                        <th>
                            <abbr title="company"> Company </abbr>
                        </th>
                        <th>
                            <abbr title="category"> Category </abbr>
                        </th>
                        <th>
                            <abbr title="notes"> Notes </abbr>
                        </th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>
                            <abbr title="date"> Date </abbr>
                        </th>
                        <th>
                            <abbr title="amount"> Amount </abbr>
                        </th>
                        <th>
                            <abbr title="company"> Company </abbr>
                        </th>
                        <th>
                            <abbr title="category"> Category </abbr>
                        </th>
                        <th>
                            <abbr title="notes"> Notes </abbr>
                        </th>
                    </tr>
                </tfoot>
                <tbody>
                    <tr>
                        <th> 05/15 </th>
                        <td> 2000 </td>
                        <td> work </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 1000 </td>
                        <td> Taco Shop </td>
                        <td> food </td>
                        <td>a bunch of notes
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 500 </td>
                        <td> freelance </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 500 </td>
                        <td> work </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 2000 </td>
                        <td> work </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 2000 </td>
                        <td> work </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                    <tr>
                        <th> 05/15 </th>
                        <td> 2000 </td>
                        <td> work </td>
                        <td> income </td>
                        <td>
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C." title="Leicester City F.C.">
                                Leicester City </a> <strong> (C) </strong> </td>
                    </tr>
                </tbody>
            </table>
 --}}


            <div class="buttons">
                <button id="expense" class="button is-dark"><a href="/coordinates">Add Coordinate</a></button>
                <!-- <button id="income" class="button is-dark">Add Income</button> -->
            </div>

        </div>



        <br>
        <div class="column">
            <div class="title" style="text-align: center;">Trend Graph!</div>

            <P> this is where the Graph Goes!</P>

        </div>


    </div>
</div>





{{!-- <script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");

        // When the form is submitted, we validate there's a title and body entered
        postForm.on("submit", function (event) {
            event.preventDefault();
            console.log(bodyInput.val(), titleInput.val())
            var postData = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim()
            };

            if (!postData.title || !postData.body) {
                return;
            }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData.title, postData.body);
            titleInput.val("");
            bodyInput.val("");
        });

        // sendPost does a post to our "api/posts" route and if successful, redirects us the the forum page
        function sendPost(title, body) {
            $.post("/api/posts", {
                title: title,
                body: body
            })
                .then(function () {
                    window.location.replace("/forum");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script> --}}