{{> navbar user}}

<div class="container is-fluid">
    <div class="columns">
        <div class="column">
            <div class="title" style="text-align: center;">Dashboard!</div>
            <h4 class="display-6">Hello, {{user.email}}!</h4>
            <div class="box ">
                <p>
                    Current Balance: 
                </p>
            </div>



            <div class="box">
                <p>
                    Spent Today: 
                </p>
            </div>



            <div class="box">
                <p>
                    Earned Today: 
                </p>
            </div>



            <div class="box">
                <p>
                    Difference: 
                </p>
            </div>




            <div class="buttons">
                <button id="expense" class="button is-dark"><a href="/coordinates">Add Coordinate</a></button>
                <!-- <button id="income" class="button is-dark">Add Income</button> -->
            </div>

        </div>
        <div class="column">
            <div class="title" style="text-align: center;">Trend Graph!</div>

            <P> this is where the Graph Goes!</P>

        </div>


    </div>
</div>





{{!-- <script>
    $(document).ready(function () {
        // Getting references to our form and inputs
        const postForm = $("form.forum-post");
        const titleInput = $("input#title-input");
        const bodyInput = $("textarea#body-input");

        // When the form is submitted, we validate there's a title and body entered
        postForm.on("submit", function (event) {
            event.preventDefault();
            console.log(bodyInput.val(), titleInput.val())
            var postData = {
                title: titleInput.val().trim(),
                body: bodyInput.val().trim()
            };

            if (!postData.title || !postData.body) {
                return;
            }


            // If we have a title and password  we run the sendPost function and clear the form
            sendPost(postData.title, postData.body);
            titleInput.val("");
            bodyInput.val("");
        });

        // sendPost does a post to our "api/posts" route and if successful, redirects us the the forum page
        function sendPost(title, body) {
            $.post("/api/posts", {
                title: title,
                body: body
            })
                .then(function () {
                    window.location.replace("/forum");
                    // If there's an error, log the error
                })
                .catch(function (err) {
                    console.log(err);
                });
        }
    });
</script> --}}