 {{> navbar user}}

<div class="container is-fluid">
        <div class="columns">
            <div class="column">
                <div class="title" style="text-align: center;">SignUp Page!</div>

                <div class="field">
                    <div class="control">
                      <label for="exampleInputEmail1">Email address</label>
                      <input id="email-input" class="input is-info" type="email" name="email" placeholder="Email">
                    </div>
                  </div>

                  <div class="field">
                    <div class="control">
                      <label for="exampleInputPassword1">Password</label>
                      <input class="input is-info" type="password" name="password" placeholder="Password">
                    </div>
                  </div>

                  <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <span class="sr-only">Error:</span> <span class="msg"></span>
                </div>


                <div class="buttons">
                    <button id="login" class="button is-dark"><a href="/login">Login</a></button>
                    <button id="signup" type="submit" class="button is-dark">Sign up</button>
                </div>

            </div>
            <div class="column">
                <div></div>
            </div>


        </div>
    </div>

    
<script>
$(document).ready(function() {
  // Getting references to our form and inputs
  var signup = $("#signup");
  var emailInput = $("input#email-input");
  var passwordInput = $("input#password-input");

  // When the form is submitted, we validate there's an email and password entered
  signup.on("submit", function(event) {
    event.preventDefault();
    var userData = {
      email: emailInput.val(),
      password: passwordInput.val()
    };

    if (!userData.email || !userData.password) {
      return;
    }

    // If we have an email and password we run the signUp function and clear the form
    signupUser(userData.email, userData.password);
    emailInput.val("");
    passwordInput.val("");
  });

  // signUp does a post to our "auth/login" route and if successful, redirects us the the members page
  function signupUser(email, password) {
    $.post("/auth/signup", {
      email: email,
      password: password
    })
      .then(function() {
        window.location.replace("/forum");
        // If there's an error, log the error
      })
      .catch(function(err) {
        console.log(err);
      });
  }
});
</script>